<h3 style="margin-bottom: 50px;">Вы отправили свои контакты по адресу: <a href="{{ url('zimkaru_core_homepage') }}">{{ url('zimkaru_core_homepage') }}</a></h3>
<div style="margin-bottom: 30px;">Ваши контакты:</div>
<div style="padding-left: 50px; margin-bottom: 50px;">
    Имя: {{ name }}<br>
    Email: {{ email }}<br>
    Телефон: {{ phone }}<br>
</div>
<div>Спасибо за ваш запрос!</div>
<div style="margin-bottom: 50px;">Наш менеджер свяжется с вами в течении 20 минут.</div>

<img src="{{ absolute_url(imageLogo) }}" alt="Logo Company" />